<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="style" href="style/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<div class="wrapper">
    <section class="hero">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">LSI BANK</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Clients
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/client/form">Ajouter un client</a></li>
                                    <li><a class="dropdown-item" href="/client/consulter">consulter</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Comptes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/compte/form/cc">Ajouter un compte courant</a></li>
                                    <li><a class="dropdown-item" href="/compte/form/ce">Ajouter un compte epargne</a></li>
                                    <li><a class="dropdown-item" href="/compte/consulter">Consulter les comptes</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Employes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/employe/form">Ajouter un employe</a></li>
                                    <li><a class="dropdown-item" href="/employe/consulter">consulter les employes</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Groupes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/groupe/form">Ajouter un groupe</a></li>
                                    <li><a class="dropdown-item" href="/groupe/form/EmpToGrp">Ajouter employès à un groupe</a></li>
                                    <li><a class="dropdown-item" href="/groupe/consulter">Consulter les groupes</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Operations
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/operation/verser">Verser</a></li>
                                    <li><a class="dropdown-item" href="/operation/retirer">Retirer</a></li>
                                    <li><a class="dropdown-item" href="/operation/virer">Virer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10 col-lg-6">
                        <h1 class="display-5">BANK LSI</h1>
                        <p>La gestion de banque en ligne la plus cool</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-about" class="sec-about pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <h1 class="h4">À propos de nous</h1>
                    <p class="mt-4 mb-4"><b>LSI BANK</b> est considéré comme l'un des meilleurs sites de gestion en ligne où vous pouvez gérer toutes vos données en toute sécurité et rapidement</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-features" class="sec-features pt-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3 class="h4">Gestion des clients</h3>

                    <hr />

                    <p>Ajouter de nouveaux clients</p>
                    <p>Vérifier les clients disponibles </p>
                </div>

                <div class="col-md-6 text-center">
                    <img src="img/4365.jpg" width="500" hight="250">
                </div>
            </div>
                <br>
                    <br>
            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <img src="img/11060.jpg" width="500" hight="250">
                </div>

                <div class="col-md-6">
                    <h3 class="h4">Gestion des comptes</h3>

                    <hr />

                    <p>Consulter un compte</p>
                    <p>Consulter les comptes d'un client</p>

                </div>
            </div>
                <br>
                    <br>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3 class="h4">Gestion des employés et des groupes</h3>

                    <hr />
                    <p>Ajouter des employés</p>
                    <p>Ajouter des groupes</p>
                    <p>Affecter les employés aux groupes</p>
                </div>

                <div class="col-md-6 text-center">
                    <img src="img/4455.jpg" width="500" hight="250">
                </div>
            </div>
                <br>
                    <br>
            <div class="row align-items-center">

                <div class="col-md-6 text-center">
                    <img src="img/11124.jpg" width="500" hight="250">
                </div>

                <div class="col-md-6">
                    <h3 class="h4">Gestion des opérations</h3>

                    <hr />
                    <p>Effectuer des versment dans un compte</p>
                    <p>Effectuer des retraits dans un compte</p>
                    <p>Effectuer des virements d'un compte vers un autre</p>
                </div>

            </div>


        </div>
    </section>

<!--
    <section id="sec-pricing" class="sec-pricing">
        <div class="container">
            <h1 class="h4 mb-5 text-center">Great prices for everyone</h1>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title h5">Individual</h4>

                            <h5 class="card-title h6">100 &euro;/month</h5>

                            <p class="card-text">The flexible place to grow your projects in a community of start-ups, freelancers and entrepreneurs, flex desk.</p>

                            <a href="#" class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-block">
                            <h4 class="card-title h5">Small Group</h4>

                            <h5 class="card-title h6">320 &euro;/month</h5>

                            <p class="card-text">Your own personal area in an open space: desk, drawers, locker and bookcase to accessorise however you like.</p>

                            <a href="#" class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-block justify-content-center">
                            <h4 class="card-title h5">Large Group</h4>

                            <h5 class="card-title h6">640 &euro;/month</h5>

                            <p class="card-text">Your own private space, perfect for work teams of up to 50 people, inside a structure that’s always in motion</p>

                            <a href="#" class="btn btn-primary">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

</div>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>